.btn-primary{
    background-color: blueviolet;
}

.jumbotron{
    background-color: yellow;
}

h1{
    color: brown!important;
}

.btn-info{
    background-color: red;
}

.my_icon_color{
    color:black;
}

.my_margin_bottom{
    margin-bottom: 30px;
}

.my_link:hover{
    text-decoration: none;
}

.general_spacing{
    margin-bottom: 70px;
}